@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins','Times New Roman', Times;
}

body{
    margin-top: 40px;
    margin-left: 85px;
    display: flex;
    justify-content: left;
    align-items: left;
    min-height: 100vh;
    background: #dfdfdf;
    background-image: url(./assets/signupbg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100vw;
}

  

.signup-name{
    justify-content: center;
    width: 540px;
    height: 50px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fff;
    /*left:-1000px;*/
}

.signup-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 650px;
    height: 650px;
    padding: 30px;
    backdrop-filter: blur(200px);
}

.signup-header{
    text-align: center;
    margin: 20px 0 40px 0;
}

.signup-header header{
    color: #dfdfdf;
    font-size: 30px;
    font-weight: 600;
  }

  .input-box .input-field{
    width: 268px;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
    outline: none;
    transition: .1s;
  }


  ::placeholder{
    font-weight: 500;
    color: #222;
  }

  .input-field:focus{
    width: 270px;
  }
  a{
    text-decoration: none;
    color: white;
  }
  a:hover{
    text-decoration: underline;
  }

  .input-submit{
    position: relative;
  }

  .submit-btn{
    width: 150px;
    height: 60px;
    background: #000000;
    color: black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

  
.submit-btn:hover{
    background: rgb(32, 163, 56);
    transition: 0.2s;
    color: white;
}
  
.link{
    color: white;
}

.input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: rgb(255, 255, 255);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.sign-up-link{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

.sign-up-link a{
    color: rgb(255, 255, 255);
    font-weight: 600;
}